{{ define "main" }}
<div class="container">
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="columns is-centered is-vcentered is-mobile">
		<div class="column is-narrow has-text-centered">
			<figure class="image" style="float:left">
				<img class="is-rounded" src="img/celine.jpeg" style="height: 200px;width: auto;">
			</figure>
			<span style="float:right;margin-left: 100px; text-align: left;">
				<h1 class="italiana medium">Céline PAULME</h1>
				<p class="italiana">Agent immobilier</p>
				<br>
				<p><span class="icon mr-6"><i class="fas fa-phone"></i></span><a href="tel:(+33) 06 79 04 43 85">(+33) 06 79 04 43 85</a></p>
				<p><span class="icon mr-6"><i class="fas fa-envelope"></i></span><a href="mailto:celine@paulme.immo">celine@paulme.immo</a></p>
				<p><span class="icon mr-6"><i class="fas fa-link"></i></span><a href="http://www.paulme.immo">paulme.immo</a></p>
				<p><span class="icon mr-6"><i class="fas fa-map-marker-alt"></i></span>Pays de Gex</p>
				<p></p>
			</span>

		</div>
	</div>
</div>
{{ end }}
